<p id="notice"><%= notice %></p>

<p>
  <strong>Donation:</strong>
  <%= @donation.donation %>
</p>

<p>
  <strong>Date:</strong>
  <%= @donation.date %>
</p>

<p>
  <strong>Donorid:</strong>
  <%= @donation.donor.name %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
