<h1>Listing Sales Men</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_men.each do |sales_man| %>
      <tr>
        <td><%= sales_man.name %></td>
        <td><%= link_to 'Show', sales_man %></td>
        <td><%= link_to 'Edit', edit_sales_man_path(sales_man) %></td>
        <td><%= link_to 'Destroy', sales_man, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales man', new_sales_man_path %>
