<!DOCTYPE html>
<html>
<head>
  <title>ViewsNight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
	<h1>My Demo App</h1>
	<br />
</div>

<%= yield %>

</body>
</html>
