<h1>Listing asswipes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asswipes.each do |asswipe| %>
      <tr>
        <td><%= asswipe.name %></td>
        <td><%= link_to 'Show', asswipe %></td>
        <td><%= link_to 'Edit', edit_asswipe_path(asswipe) %></td>
        <td><%= link_to 'Destroy', asswipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asswipe', new_asswipe_path %>
